[flake8]
ignore =
    # import not at top of file
    E402
    # file imported but unused
    F401
    # contiuation line over indented
    # E127
    # logging use % formatter
    W1203
exclude =
    .git,
    .vscode,
    __pycache__,
    timeMachine\server\static\css,
max-complexity = 12
max-line-length = 119
