<html>

<head>
    {% if title %}
    <title>{{ title }} - BitTrendz</title>
    {% else %}
    <title>Welcome to BitTrendz</title>
    {% endif %}
</head>

<body>
    <div>BitTrendz :
        <a href={{ url_for( "main.index") }}>Home</a>
        {% if current_user.is_anonymous %}
            <a href={{ url_for( "auth.login") }}>Login</a>
            <a href={{ url_for( "auth.register") }}>Sign up</a>
        {% else %}
            <a href={{ url_for( "auth.logout") }}>Logout</a>
        {% endif %}

    </div>
    <hr> {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
</body>

</html>
